.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.add-container {
    box-sizing: border-box;
    height: 4rem;
    margin-left: auto;
    width: fit-content;
}

.add-container div {
    font-size: 1.25rem;
    line-height: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    width: fit-content;
}

.add-button {
    background-color: #668685;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2rem;
    margin-top: 1rem;
    width: 2rem;
}

.add-button:hover {
    background-color: #324444;
}

.add-button:active {
    background-color: #192222;
}

.grid-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 2px #8e8e8e;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.card .content-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.card .content-grid div {
    margin-bottom: 0.5rem;
    min-width: 0;
}

.card .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card .label {
    color: #8e8e8e;
    font-size: 0.75rem;
}

.card .name {
    font-size: 1.25rem;
    font-weight: bold;
}

.card > div:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card hr {
    color: #8e8e8e;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.action {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: end;
    width: 100%;
}

.pen-button {
    background-color: #668685;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2rem;
    width: 2rem;
}

.pen-button:hover {
    background-color: #324444;
}

.pen-button:active {
    background-color: #192222;
}

.trash-can-button {
    background-color: #CF3234;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2rem;
    width: 2rem;
}

.trash-can-button:hover {
    background-color: #641919;
}

.trash-can-button:active {
    background-color: #320c0c;
}
