.status-green {
    color: #367E18 !important;
}

.status-red {
    color: #CC3636 !important;
}

.status-yellow {
    color: #B68D00 !important;
}

.empty-placeholder {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-container {
    box-sizing: border-box;
    height: 4rem;
    margin-left: auto;
    width: fit-content;
}

.add-container div {
    font-size: 1.25rem;
    line-height: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    width: fit-content;
}

.add-button {
    background-color: #668685;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2rem;
    margin-top: 1rem;
    width: 2rem;
}

.add-button:hover {
    background-color: #324444;
}

.add-button:active {
    background-color: #192222;
}

.action {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: end;
    width: 100%;
}

.pen-button {
    background-color: #668685;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2rem;
    width: 2rem;
}

.pen-button:hover {
    background-color: #324444;
}

.pen-button:active {
    background-color: #192222;
}

.trash-can-button {
    background-color: #CF3234;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 0.75rem;
    height: 2rem;
    width: 2rem;
}

.trash-can-button:hover {
    background-color: #641919;
}

.trash-can-button:active {
    background-color: #320c0c;
}
