.empty-placeholder {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 2px #8e8e8e;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.card .content-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.card .content-grid div > div:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card .content-grid div {
    min-width: 0;
}
.card .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card .label {
    color: #8e8e8e;
    font-size: 0.75rem;
}

.card .name {
    font-size: 1.25rem;
    font-weight: bold;
}

.card > div:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card hr {
    color: #8e8e8e;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
