.page-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1E1E1E;
    margin-bottom: 1.5rem;
    letter-spacing: -0.5px;
}

.card {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
    letter-spacing: -0.3px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    flex-grow: 1;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 2px solid #8e8e8e;
}

.report-table th {
    background-color: #668685;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid #8e8e8e;
    width: 25%;
}

.report-table td {
    padding: 1rem;
    border: 2px solid #8e8e8e;
    color: #000000;
}

.report-table tr.total-row td {
    font-weight: bold;
    font-size: 0.75rem;
    color: #000000;
    background-color: #ffffff;
    border-top: 2px solid #8e8e8e;
    padding: 1rem;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.btn-unduh {
    background-color: #668685;
    color: whitesmoke;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-unduh:hover {
    background-color: #324444;
}

.btn-unduh:active {
    background-color: #192222;
}