<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Form Kategori Anggaran</title>
    <link rel="stylesheet" href="D:\Kuliah Sem4\Prak. Aplikasi Web\Projek MAP\view\css\form_input_style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="container">

        <!--Kategori Anggaran-->
        <div class="card">
            <div class="card-header">Kategori Anggaran</div>
            <div class="card-body">
                <form>
                    <label>Nama Kategori</label>
                    <input type="text" name="nama_kategori">

                    <label>Deskripsi</label>
                    <textarea name="deskripsi"></textarea>

                    <div class="button-group">
                        <button type="reset" class="btn-cancel" onclick="closeForm('Form Kategori Anggaran')">BATAL</button>
                        <button typep="submit" class="btn-save">SIMPAN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>